*{
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
    /*font-size: 15px;*/
 }
 
i{
    cursor: pointer;
}
.active{
    color: rgb(34 197 94 / var(--tw-bg-opacity));
}
.current{
    font-weight: bold;
    border-bottom: 2px solid rgb(8, 137, 197);
}
body{
    overflow-y: auto;
}
.forbig{
    display: none;
}
/* @media only screen and (min-width: 600px) {
 .forbig{
     display: block;
 }
 body{
     overflow: hidden;
     
 }
} */